.container-to-center {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
  width: 100%;
  z-index: -100;
  margin-bottom: 200vh;
}

.img-container {
  max-width: 40%;
  height: fit-content;
  width: fit-content;
  position: absolute;
  overflow: hidden;
}

.space-for-scroll-animation {
  height: 200 vh;
}

.ckulwik-image {
  max-width: 100%;
  max-height: 100%;
}

svg {
  position: fixed; /* make sure it stays put so we can see it! */

  animation: rotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}
