.container-to-center{
    border: 2px blue solid;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;

}

.img-container { 
    height: 55%;
    width: 40%;
    position: absolute;
    border: pink solid 2px;
    overflow: hidden;
}

.ckulwik-image{
    max-width: 100%;
    max-height: 100%;
}