@import "./colors.css";

h2 {
  color: white;
  font-weight: 400;
  text-decoration: none;
}

.underline {
  height: 6px;
  border-radius: 3px;
  width: 70vw;
  max-width: 850px;
  background-color: var(--yellow);
  margin-top: -23px;
}
