.songs-container {
  display: flex;
  gap: 70px;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  max-width: 60vw;
}

/* mobile styles */
@media only screen and (max-width: 700px) {
  .songs-container {
   max-width: 90vw;
  }
}