.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display: flex;
}

.numRecolors-input{
    margin: 10px;
    border: 2px solid lightgray;
    border-radius: 3px;
}

.list-contents{
    display: flex;
}

.list {
    margin-right: 30px;
    padding: 20px;
}

.small-box {
    height: 50px;
    width: 80px;
    border: 2px solid black;
    border-radius: 3px;
    margin-bottom: 10px;
}
